/* @font-face{
	font-family:'나눔바른고딕';
    src: local('나눔바른고딕'), url('NanumBarunGothic.woff') format('woff');
}
@font-face{
	font-family:'나눔고딕코딩';
    src: local('나눔고딕코딩'), url('NanumGothicCoding.woff') format('woff');
}
@font-face{
	font-family:'나눔명조';
    src: local('나눔명조'), url('NanumMyeongjo.woff') format('woff');
}
@font-face{
	font-family:'SpoqaHanSans';
    src: local('SpoqaHanSans'), url('SpoqaHanSans.woff') format('woff');
}
@font-face {
	font-family: 'HY견고딕';
	src: url('H2gtrE.woff') format('woff');
}
@font-face{
	font-family:'HY헤드라인M';
    src: url('H2hdrM.woff') format('woff');
}
@font-face{
	font-family:'휴먼명조';
    src: local('휴먼명조'), url('PolarisHumanMyeongjo.woff') format('woff');
}
@font-face{
	font-family:'제주명조';
    src: local('제주명조'), url('JejuMyeongjo.woff') format('woff');
}
@font-face{
	font-family:'제주고딕';
    src: local('제주고딕'), url('JejuGothic.woff') format('woff');
}
 */
@font-face{
	font-family:'바탕';
    src: local('바탕'), url('batang.tff') format('truetype');
}

@font-face{
	font-family:'나눔바른고딕';
    src: local('나눔바른고딕'), url('NanumBarunGothic.tff') format('truetype');
}
@font-face{
	font-family:'말군';
    src: local('말군'), url('malgunbd.tff') format('truetype');
}

@font-face{
	font-family:'Arial Unicode MS';
    src: local('Arial Unicode MS'), url('arialuni.tff') format('truetype');
}